.parte6 {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
}

.parte6__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-subtitulo);
    color: var(--vermelho-sangue);
    text-shadow: 2px 2px 3px var(--branco-acizentado);
}

.parte6__stores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.parte6__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    gap: .5rem;
    width: 90px;
}

.parte6__texto {
    font-size: 1rem;
    font-family: var(--fonte-subtitulo);
    color: var(--branco);
    text-shadow: 2px 2px 3px var(--vermelho-vinho);
}

.parte6__icon {
    max-width: 32px;
}

@media screen and (min-width: 768px) {
    .parte6__titulo {
        font-size: 2rem;
    }

    .parte6__texto {
        font-size: 1.5rem;
    }

    .parte6__icon {
        max-width: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .parte6__titulo {
        font-size: 2.5rem;
    }

    .parte6__texto {
        font-size: 2rem;
    }

    .parte6__icon {
        max-width: 64px;
    }
}